.card {
  display: flex;
  color: #2a363b;
  flex-direction: column;
  margin-top: 30px;
  padding: 5px;
}

.card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2a363b;
}

.card__title {
  font-size: 150%;
  font-weight: bold;
  width: 226px;
  text-align: center;
  border: 1px solid;
  border-top: 0;
}

.card__price {
  font-size: 130%;
  color: #2a363b;
}

.card__characteristics {
  display: flex;
  border: 1px solid;
  border-top: 0;
  align-items: center;
  justify-content: center;
  width: 226px;
}

.card__imgShopping {
  height: 20px;
  padding-left: 30px;
  cursor: pointer;
}

.card__imgShopping:hover {
  opacity: 50%;
  -webkit-transform: scale(1.3);
  transform: scale(0.7);
}

.card__container {
  width: 226px;
  height: 230px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid;
}

.card:hover .card__container {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__img {
  width: 226px;
  height: 230px;
  border: 1px solid;
}
