nav {
  background-color: #cf4647;
  position: fixed;
  width: 100%;
}

.desactive {
  color: #f8f6f6;
  text-decoration: none;
  padding: 0.5em;
}

.active {
  color: #f5d061;
  text-decoration: none;
  padding: 0.5em;
}
