.container__input {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 20px 0 10px;
  transition: 0.3 ease all;
  border: 3px solid transparent;
}

.container__input:focus {
  outline: none;
  border: 3px solid #f5d061;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.container__input[type="number"]::-webkit-inner-spin-button,
.container__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container__input[type="number"] {
  -moz-appearance: textfield;
}

.container__label {
  display: block;
  font-weight: bold;
  padding: 10px;
  min-height: 40px;
}

.container__p {
  font-size: 12px;
  margin-bottom: 0;
  color: #f44336;
  display: none;
}

.container__input-correct {
  border: 3px solid #4caf50;
}

.container__input-incorrect {
  border: 3px solid #da1212;
}

.container__label-incorrect {
  color: #da1212;
}

.container__p-correct {
  display: none;
}

.container__p-incorrect {
  display: block;
}
