.button__general {
  background-color: #cf4647;
  color: #f8f6f6;
  width: 110px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #cf4647;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.button__general:hover {
  background-color: #fff;
  border: 2px solid #cf4647;
  color: #cf4647;
  font-weight: bold;
}
