.form__add {
  padding-top: 80px;
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form__button {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .form__add {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) {
  .form__button {
    grid-column: span 2;
  }
}
