body {
  margin: 0;
  font-family: "Ropa Sans", sans-serif;
  color: #f8f6f6;
  background-color: #f8f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
